* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #757575;
}

input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s ease;
}

input:focus {
    border-color: hsl(327, 90%, 28%);
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(125, 125, 235);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #07001f;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1rem;
}

.links p {
    margin: 0;
}

.links button {
    background: none;
    border: none;
    color: rgb(125, 125, 235);
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.links button:hover {
    color: blue;
}

.messageDiv {
    background-color: hsl(0, 90%, 28%);
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    display: none;
}

.cnt{
    text-align: center;
    margin: 10px 0px;
    margin-bottom: -10px;
}

.btn{
    margin: 5px 0;
}